{{#if this}}

  <ul>
    {{#each this}}
      <li class="small">
        {{this.email}}:
        {{this.message}}

      </li>
    {{/each}}
  </ul>

{{else}}
  <h4 class="alert alert-danger text-center">NO HAY MENSAJES!</h4>
{{/if}}