<h3 class="text-center">CHAT GRUPAL CODERHOUSE</h3>
<form>
  <div class="mb-2 row">
    <div class="col-sm-4 col-md-4 my-1"><input type="text" class="form-control" name="nombre" placeholder="email" required /></div>
    <div class="col-sm-4 col-md-6 my-1"><input type="text" class="form-control" name="mensaje" placeholder="Escribe un mensaje" required /></div>
    <button class="btn btn-success w-100 text-center col" type="submit">Enviar</button>
  </div>
</form>