<div class="container bg-light text-center py-5 rounded my-5 border border-dark">
	<h1 class="text-center mt-2">SERVER INFORMATION</h1>
		{{#each data}}
			<p class="my-0"><b>{{@key}}:</b> {{this}}</p>
		{{/each}}
	</div>
</div>